<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> THE FIRST WEB</title>
        <style type="text/css">
            table{
                width:550px;border:1px solid #888888;
            }
            th{
                border:1px solid #888888;padding:10px;
            }
            td{
                border:1px solid #888888;padding:10px;

            }
        </style>
    </head>
    <body>
        <h1>The First Web (≧∇≦)/</h1>
        <h1></h1>
        <h3>網站架設與Django專題製作—18週進度</h3>
        <table>
            <tr>
                <th>週數</th>
                <th>預定進度</th>
            </tr>
            <tr>
                <td >第1週</td>
                <td>（預備週）自主學習規範說明</td>
            </tr>
            <tr>
                <td>第2週</td>
                <td>（預備週）學習週誌撰寫與成果報告評量檢核量表說明</td>
            </tr>
            <tr>
                <td>第3週</td>
                <td>Django環境架設與建立第一個網站</td>
            </tr>
            <tr>
                <td>第4週</td>
                <td>Django Basic Model and Admin</td>
            </tr>
            <tr>
                <td>第5週</td>
                <td>Django Templates語法</td>
            </tr>
            <tr>
                <td>第6週</td>
                <td>Django allauth and Session</td>
            </tr>
            <tr>
                <td>第7週</td>
                <td>建立登入系統與驗證系統</td>
            </tr>
            <tr>
                <td>第8週</td>
                <td>（停看聽週）期中分享報告</td>
            </tr>
            <tr>
                <td>第9週</td>
                <td>（停看聽週）期中分享報告</td>
            </tr>
            <tr>
                <td>第10週</td>
                <td>深入了解Django整體架構</td>
            </tr>
            <tr>
                <td>第11週</td>
                <td>Django Advanced Model</td>
            </tr>
            <tr>
                <td>第12週</td>
                <td>MySQL資料庫系統</td>
            </tr>
            <tr>
                <td>第13週</td>
                <td>建立電子商店網站(1/2)</td>
            </tr>
            <tr>
                <td>第14週</td>
                <td>建立電子商店網站(2/2)</td>
            </tr>
            <tr>
                <td>第15週</td>
                <td>網站專題製作(1/2)</td>
            </tr>
            <tr>
                <td>第16週</td>
                <td>網站專題製作(2/2)</td>
            </tr>
            <tr>
                <td>第17週</td>
                <td>自主學習成果海報製作（依成果報告評量表檢核</td>
            </tr>
            <tr>
                <td>第18週</td>
                <td>自主學習成果海報分享</td>
            </tr>
        </table>
    </body>
</html>