<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            THE FIRST WEB
        </title>
    </head>
    <body>
        <h1>第一個網站 (≧∇≦)/</h1>
        <h1></h1>
        <h2>自主學習前7週進度:</h2>
        <h3>第1週:（預備週）自主學習規範說明</h3>
        <h3>第2週:（預備週）學習週誌撰寫與成果報告評量檢核量表說明</h3>
        <h3>第3週:Django環境架設與建立第一個網站</h3>
        <h3>第4週:Django Basic Model and Admin</h3>
        <h3>第5週:Django Templates語法</h3>
        <h3>第6週:Django allauth and Session</h3>
        <h3>第7週:建立登入系統與驗證系統</h3>

    </body>
</html>