{% extends 'base2.html' %}
{% block headline %} {{user.username}}的個人頁面 {% endblock %}
{% block content %}
    <style type="text/css">
        p{
            font-size:15pt;;
        }
    </style>
    <img class="card" width="100" height="100" src="{{ user_info.image.url }}" />
    <p>帳號:{{user_info.user.username}}</p>
    <p>名稱:{{user_info.nickname}}</p>
    <p>性別:{{user_info.gender}}</p>
    <p>電子郵件:{{user_info.user.email}}</p>
    <p>自我介紹:{{user_info.intro}}</p>

    {% if user.is_authenticated %}
        <br>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{profile_form.as_table}}
            </table>
            <br>
            <input class="btn btn-primary"type="submit" value="修改個人資料" >
        </form>
    {% endif %}
{% endblock %}