{% extends 'base.html' %}
{% block title %}Article{% endblock %}
{% block headmessage %}
    <h1 style="display:inline;">{{post.title}}  </h1>
    <p style="display:inline;">{{post.pub_time | date:" Y/m/d"}}</p>
        {% if user.is_authenticated %}
                {% if user.id == post.user.id %}
                    <a href='{% url "article-update" post.id%}' style='font-size:3pt;color:gray;'>編輯</a>
                    <a href='{% url "article-delete" post.id%}' style='font-size:3pt;color:gray;'>刪除</a>
                {% endif %} 
        {% endif %} 
{% endblock %}
{% block content %}
    <p style='font-family: 微軟正黑體;font-size: 12pt;letter-spacing: 2pt;'>
        {{post.context | safe}}
    </p>
{% endblock %}