{% extends 'base2.html' %}
{% block headline %} {{user.username}}的個人資料 {% endblock %}
{% block content %}
    <style type="text/css">
        p{
            font-size:15pt;;
        }
    </style>
    <br>
    <p>帳號:{{user_info.user.username}}</p>
    <p>名稱:{{user_info.nickname}}</p>
    <p>性別:{{user_info.gender}}</p>
    <p>電子郵件:{{user_info.user.email}}</p>

    {% if user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{profile_form.as_table}}
            </table>
            <input class="btn btn-primary"type="submit" value="修改個人資料" >
        </form>
    {% endif %}
{% endblock %}